// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


%button {
    background-color: $golden;
    border-radius: 40px;
    font-family: $rift;
    text-transform: uppercase;
    display: inline-block;
    @include transition(.3s);
    padding: .45rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;

    @include mq('tablet') {
        padding: .75rem 2rem;
        font-size: 1.25rem;
        font-weight: 400;
    }
    @include mq('desktop') {
        padding: .75rem 2rem;
        font-size: 1.6875rem;
    }
    &:after {
        content: " > ";
    }
    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.12);
    }
}

.ms-c-button {
    @extend %button;
}

.ms-c-button--grey {
    background: $grey-dark;
    color: $white;
}

.ms-c-button--header {
    @extend %button;
    margin-top: 1rem;
    @include mq('tablet') {
        margin-top: 2rem;
    }
}
