@font-face {
    font-family: 'molensteen-icons';
    src: url('../fonts/molensteen-icons.eot');
    src: url('../fonts/molensteen-icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/molensteen-icons.woff') format('woff'),
         url('../fonts/molensteen-icons.ttf') format('truetype'),
         url('../fonts/molensteen-icons.svg#molensteen-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='ms-a-icon--']:before{
	display: inline-block;
   font-family: 'molensteen-icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.ms-a-icon--instagram:before{content:'\0041';}
.ms-a-icon--youtube:before{content:'\0042';}
.ms-a-icon--facebook:before{content:'\0043';}
.ms-a-icon--pinterest:before{content:'\0044';}
.ms-a-icon--eenvoudig:before{content:'\0045';}
.ms-a-icon--eerlijk:before{content:'\0046';}
.ms-a-icon--heerlijk:before{content:'\0047';}
