// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
}

img {
    max-width: 100%;
}


@each $color, $var in $colors {
    .ms-u-bg--#{$color} {
        background: #{$var};
    }

    .ms-u-text-color--#{$color} {
        color:  #{$var} !important;
    }

    .ms-c--#{$color} {
        h1, span.ms-c-volume, h2, h4, a {
            color: #{$var} !important;
        }
        .ms-c-product-image-background {
            background: #{$var} !important;
        }
        .ms-c-allergy {
            color: $terracotta!important;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.ms-c-recipe-breaker {
    color: $white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;

    p {
        max-width: 396px;
        margin: 0 auto 1rem;
    }

    &:before {
        content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right,$black,$black);
    	opacity: .3;
     }

    @include mq('tablet') {
        background-position: center;
        &:before {
            	opacity: .2;
        }
    }
}

.ms-c-recipe {
    @include transition(.3s);
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.12);
    }
}

.ms-c-col-home {
    margin-bottom: 2rem;
}

.ms-c-recipe__content {
    background: $white;
    padding: 1rem;
    height: 80px;
    p {
        display: none;
    }
    @include mq('tablet') {
        padding: 2rem;
        height: 265px;
        p {
            display: block;
        }
    }
    @include mq('tablet-wide') {
        height: 260px;
    }
    @include mq('desktop') {
        height: 200px;
    }
}

.ms-c-partner-logo {

    display: inline-block;
    margin: 1rem;
    @include mq('tablet') {
        margin: 1rem 2rem;
    }
    @include mq('desktop') {
        margin: 1rem 3rem;
    }
    vertical-align: middle;
}

.ms-c-partner-logo__eko {
    max-height: 30px;
    margin-top: 5px;
    @include mq('tablet') {
        max-height: 45px;
        margin-top: 5px;
    }
    @include mq('desktop') {
        max-height: 65px;
        margin-top: 5px;
    }
}

.ms-c-partner-logo__ah {
    max-height: 40px;
    @include mq('tablet') {
        max-height: 60px;
    }
    @include mq('desktop') {
        max-height: 91px;
    }
}

.ms-c-partner-logo__marqt {
    max-height: 30px;
    @include mq('desktop') {
        max-height: 38px;
    }
    @include mq('desktop') {
        max-height: 45px;
    }
}

.ms-u-instagram {
    overflow: hidden;
    padding: 0rem 0 4rem !important;

    h2 {
        position: relative;
        font-size: 1.5rem;
        margin-top: -2rem;
        @include mq('tablet') {
            font-size: 2.5rem;
        }
        @include mq('desktop') {
            font-size: 3.0625rem;
        }


        span {
            position: absolute;
            left:50%;
            top: -20px;
            margin-left: 110px;
            width: 40px;
            height: 38px;
            img {
                width: 40px;
                height: 38px;
            }
            @include mq('tablet') {
                top: -50px;
                margin-left: 200px;
                width: 79px;
                height: 75px;
                img {
                    width: 79px;
                    height: 75px;
                }
            }
            @include mq('desktop') {
                margin-left: 240px;
            }


        }
    }
}
