// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Works the same as the wrappers. Example: .nowrapper40 will stop clearing from 40em and up.
.nowrapper {
	@include no-proper-clearfix;
}

// Old school clearing (insert an HTML element that clears everything below it)
.filthyclear {
	width: 0;
	height: 0;
	visibility: hidden;
	line-height: 0;
}

// Wrapper that clears around floating elements.
// If you want a wrapper that only clears from a certain breakpoint use .wrapper{em},
// where em is replaced by the breakpoint in em's.
// Example: .wrapper40 will only clear from 40em and up.
.wrapper {
	@include proper-clearfix;
}


// Image helpers
// ------------------------------------------------------------
// Max-width for images in responsive web-design

.max-width {
	max-width: 100%;
	height: auto;
}
