/**
 * Basic typography style for copy text
 */
 /*  ==========================================================================
     Type
     ========================================================================== */

 body {
     -webkit-font-smoothing: antialiased;
     font-weight: 100;
     font-family: $body-font;
 }

 h1, h2, h3, h4, h5, h6 {
     color: $heading-color;
     font-family: $heading-font;
     font-weight: 400;
     line-height: 1;
     letter-spacing: 0rem;

     span {
         font-weight: 700;
     }
     i {
         display: block;
     }
 }

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $rajah;
    margin-bottom: .5em;
    @include mq('desktop') {
        font-size: 3.0625rem;
    }
    // @include mq('desktop-wide') {
    //     font-size: 4.0625rem;
    // }

    body.home & {
        color: $white;
        font-weight: 300;
        @include mq('desktop') {
            font-size: 3.5rem;
        }
        // @include mq('desktop-wide') {
        //     font-size: 4.25rem;
        // }
    }

    body.single-product &, body.single-recept &, body.single-post & {
        color: $black;
        font-size: 2rem;
        @include mq('desktop') {
            font-size: 45px;
        }
    }

}

h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    @include mq('desktop') {
        font-size: 3.0625rem;
    }
    // @include mq('desktop-wide') {
    //     font-size: 4.0625rem;
    // }
    font-weight: 700;
    margin-bottom: .5em;
    i {
        font-size: 6rem;
        color: $golden;
    }

    &.ms-u-header-slider__title {
        font-size: 1.5rem;
        margin-bottom: .2em;
        color: $white;
        line-height: 1.25;
        font-weight: 400;

        @include mq('tablet') {
            font-size: 2.75rem;
        }

        @include mq('desktop') {
            font-size: 3.75rem;
        }
        @include mq('desktop-wide') {
            font-size: 4.25rem;
        }

    }

    &.ms-u-blog-subtitle {
        font-size: 20px;
        @include mq('tablet') {
            font-size: 35px;
        }
    }
}

h3 {
    font-size: 2rem;
    line-height: 1.25;
    @include mq('tablet') {
        font-size: 35px;
        line-height: 1.66666;
    }
    @include mq('desktop') {
        font-size: 45px;
        line-height: 1.66666;
    }

    font-weight: 700;
}

h4 {
    &.ms-u-recipe-title {
        font-family: $rift;
        font-size: 18px;
        @include mq('tablet') {
            font-size: 30px;
        }
    }
    .ms-u-product-info & {
        font-family: $rift;
        font-size: 30px;
        font-weight: 700;
        color: $brown;
    }
}

h5 {
    font-size: 24px;
    font-weight: 700;
    color: $grey-dark;
    margin-bottom: 2rem;
}

p {
    font-size: 14px;
    line-height: 35px;
    &.ms-u-p--intro {
        font-size: 15px;
        line-height: 30px;
        @include mq('tablet') {
            font-size: 18px;
            line-height: 35px;
        }
    }
    &.ms-u-p--description {
        line-height: 25px;
    }
}

a, p a {
    color: $black;
    @include transition(.2s);
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

blockquote {}

strong, b {
    font-weight: 700;
}

hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1rem 0;
     padding: 0;
 }
