// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

@function emify($target, $context) {
	@if $target == 0 {
		@return 0
	}
	@return $target / $context + 0em;
}

@function to-string($value) {
  @return inspect($value);
}

// Functions for px to em conversions
// ------------------------------------------------------------

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
