// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------


// SETUP MIXINS, FUNCTIONS, EXTENDS AND HELPER STYLES IN THIS FILE

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin font-pack($type: heading) {
    @if $type == heading {
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $heading-color;
        line-height: $heading-line-height;
        letter-spacing: $heading-letter-spacing;
        text-transform: uppercase;
    }
}

// Breakpoints
// -------------------------------------------------------
//

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin toggle-icon($width,$height,$color,$margin,$border-radius ) {

    z-index: 15000;
    width: $width;
    height: ($height * 3) + ($margin * 2);
    cursor: pointer;

    .toggle-icon {
        display: block;
        span, span:before, span:after {
          cursor: pointer;
          border-radius: $border-radius;
          height: $height;
          width: $width;
          background: $color;
          position: absolute;
          display: block;
          content: '';
        }
        span:before {
          top: $margin * -1;
        }
        span:after {
          bottom: $margin * -1;
        }

        span, span:before, span:after {
          transition: all .2s ease-in-out;
        }
        &.active span {
          background-color: transparent;
          &:before, &:after {
            top: 0;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
    }
}


@mixin flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction    : column;
    -ms-flex-direction        : column;
    flex-direction            : column;
    -webkit-justify-content   : center;
    justify-content           : center;
}

@mixin box-shadow($left:0, $top:2px, $blur:2px, $color:#000, $inset:"") {
      -webkit-box-shadow:$left $top $blur $color #{$inset};
      -moz-box-shadow:$left $top $blur $color #{$inset};
      box-shadow:$left $top $blur $color #{$inset};
}


@mixin svg-background-image($url, $width, $height) {
	width: $width;
	height: $height;
	display: inline-block;
	background: image-url($url) no-repeat;
    background-size:100% 100%;
}

@mixin svg-background-image-fallback($name, $width, $height) {

	display: block;
	background: url('../images/#{$name}.png') no-repeat center;
    background: url('../images/#{$name}.svg') no-repeat center;
    background-size:$width $height;
    height: $height;
    width: $width;
}

@mixin gradient-background ($left, $right) {
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left, $left 0%, $right 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $left 0%,$right 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $left 0%,$right 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 ); /* IE6-9 */
}


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin translate3d($x,$y,$z) {

  -moz-transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate3d($x, $y, $z);

}

// HEX to RGB
// -------------------------------------------------------

@mixin rgba($color, $value) {
	background-color : $color;
	background-color : rgba($color, $value);
}


@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}



// Layout helpers
// ------------------------------------------------------------
// Shortcuts for common layout styles (such as padding, margin and other commonly used styles)

@mixin proper-clearfix {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}

	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	*zoom: 1;
}

@mixin centered-by-margin {
	margin-left: auto;
	margin-right: auto;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// Disable clearing
@mixin no-proper-clearfix {
	&:before,
	&:after {
		display: none;
		clear: none;
	}
}

// FORM
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}



// List helpers
// ------------------------------------------------------------

@mixin unordered {
	list-style-position: outside;
	list-style-type: disc;
}

@mixin unordered-inside {
	list-style-position: inside;
	list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside;
	list-style-type: decimal;
}

@mixin ordered-inside {
	list-style-position: inside;
	list-style-type: decimal;
}

@mixin nobullet {
	list-style-type: none;
}
