// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// breakpoints

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1200px,
    "desktop-wide": 1440px,
    "desktop-1600": 1600px
);

// Colors
// ------------------------------------------------------------
// Define your main color palette

$black:             #101820;
$white:             #ffffff;
$grey:              #e8e8e8;
$grey-dark:         #60514e;
$terracotta:        #e47458; // red
$terracotta-light:  #f3f1ec;
$manhattan:         #f2be9f; // pink
$rajah:             #f8af5e; // orange
$aqua:              #b1dcdf; // blue-green
$green-yellow:      #b5d27b;
$golden:            #fdd772;
$solitaire:         #fef7e4;
$banana:            #fcecbb;
$brown:             #897449;
$blue-light:        #eff8f9;

$colors: (
    white: $white,
    black: $black,
    grey-dark: $grey-dark,
    terracotta: $terracotta,
    terracotta-light: $terracotta-light,
    manhattan: $manhattan,
    rajah: $rajah,
    aqua: $aqua,
    green-yellow: $green-yellow,
    golden: $golden,
    solitaire: $solitaire,
    banana: $banana,
    brown: $brown,
    blue-light: $blue-light
);

$color-primary:     $black;


$body-color:        $color-primary;
$heading-color:     $color-primary;

/*  =====================
    Font family's
    ===================== */


$rift:           "rift-soft";
$adelle:         "adelle";
$fontawesome:    'FontAwesome';

$body-font:             $adelle, Times, serif;
$body-font-strong:      $adelle, Times, serif;
$button-font:           $rift, Arial, sans-serif;
$heading-font:          $body-font;

//https://scotch.io/tutorials/aesthetic-sass-1-architecture-and-style-organization

// $button-padding: 0.5rem 1rem;
// $font-size: type-scale(-1);                // utility function
// $button-bgcolor: $color-primary;           // from 'base/_colors.scss'
// $button-border-width: $input-border-width; // from 'component/_input.scss'
// $button-color-hover: $color-light;         // from 'base/_colors.scss'
//
// // button variables
// $button-font
// $button-bg-color
// $button-font-color
// $button-border-color
// $button-border-width
// $button-hover-bg-color
// $button-
