// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    background: $golden;
}

.ms-c-footer__menu {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    @include mq('tablet') {
        text-align: left;
        margin: 0;
    }
}
.ms-c-newsletter {
    padding: 0 0 4rem;
}

.ms-c-stuur-een-mailtje {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    bottom: 50px;
    max-width: 100px;
    @include mq('tablet') {
        margin-left: 0;
        left: -180px;
        bottom: 110px;
        max-width: 180px;
    }
}

ul.ms-c-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;

    li {
        padding: 0;
        margin: 0 0 1rem;
        a {
            color: $grey-dark;
        }
        &:before {
            content: " > ";
        }
    }
}

p.ms-c-footer-paragraph {
    font-size: 17px;
    color: $grey-dark;
}

.ms-c-footer__contact {
    text-align: center;
    @include mq('tablet') {
        text-align: left;
    }
}

.ms-c-footer__follow {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    @include mq('tablet-wide') {
        text-align: left;
        margin-top: 0;
    }
    a {
        margin: 0 .5rem;
        color: $terracotta;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
