/*  ==========================================================================
    Forms
    ========================================================================== */

input {
    border: none;
    margin:0;
    padding: .5rem 1rem;
    font-size: 14px;
    color: $brown;
    @include transition(.2s);
    @include input-placeholder {
        color: $brown;
        @include transition(.2s);
    }
    &:focus {
        outline: 0;
        transform: scale(1.01);
        @include input-placeholder {
            color: lighten($brown,30%);
        }
    }
}

input[type='text'], input[type="email"] {
    min-width: 250px;
}
input[type="submit"] {
    color: $white;
    cursor: pointer;
    &:hover {
        transform: scale(1.01);
    }
}

form.newsletter {
    input {
        display: inline-block;
    }
    input[type='text'], input[type="email"] {
        width: 80%;
        @include mq('tablet') {
            width: 250px;
        }
    }
}


html {
    .gform_wrapper {
        background: $solitaire;
        padding: 2rem 2rem 3rem;

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            padding: .75rem 1rem;
        }

        .top_label .gfield_label {
            display: none;
        }
        textarea {
            border: none;
            padding: 1rem;
            color: $brown;
            &:focus {
                outline: 0;
            }
        }

        input[type="submit"] {
            background: $terracotta;
            @include mq('tablet') {
                right: 3rem;
                bottom: 3rem;
                position: absolute;

            }
        }

    .validation_message {
        font-weight: normal;
        color: $black;
    }
    
     div.validation_error {
         color: $black;
         border-top: 1px solid $black;
         border-bottom: 1px solid $black;
         font-weight: normal;
     }
    }
}
