
main {
    position: relative;

    body.single-product & , body.single-recept &, body.single-post & {
        margin-top: 46px;
        .ms-c-first-container {
            padding-top: 0;
            @include mq('tablet') {
                padding-top: 3rem;
            }
        }
        @include mq('tablet') {
            margin-top: 170px;
        }
    }
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 2rem 0;
    @include mq('tablet') {
        padding: 4rem 0;
    }
    @include mq('desktop') {
        max-width: 1140px;
    }
    @include mq('desktop-wide') {
        max-width: 1270px;
    }

        //padding: 0;

    .row {
        margin-left: 0;
        margin-right: 0;
        padding: 0 0 1rem;
    }
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    @include mq('desktop') {
        min-height: 450px;
    }
    @include mq('desktop-wide') {
        min-height: 500px;
    }
}
