// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1rem;
    background: rgba( $black,.9);
    height: 60px;
    @include transition(.2s);
    @include mq('tablet') {
        background: rgba($black,0);
        height: 82px;
    }
    &.ms-is-fixed {
        background: rgba( $black,.9)
    }
    &.ms-js-header-is-active {
        height: 100%;
    }
}

.ms-c-header__logo {

    vertical-align: top;
    text-align: center;
    margin: 0 2rem;
    width: 100px;

    @include mq('tablet') {
        display: inline-block;
    }

    img {
        max-width: 100px;
    }
    span {
        &:after {
            content: "";
            @include svg-background-image-fallback('ms-a-logo-white', 100px, 124px);
        }
        body.single-product &, body.single-recept &, body.single-post & {
            &:after {
                content: "";
                @include svg-background-image-fallback('ms-a-logo-molensteen--dark', 100px, 124px);
            }
        }
        header.ms-is-fixed & {
            &:after {
                content: "";
                @include svg-background-image-fallback('ms-a-logo-icon', 100px, 42px);
            }
        }
    }

}

.ms-c-logo__desktop {
    display: none;
    @include mq('tablet') {
        display: inline-block;
    }
}

.ms-c-logo__mobile {
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -10px;
    span {
        &:after {
            content: "";
            @include svg-background-image-fallback('ms-a-logo-icon--mobile', 21px, 42px);
        }
    }
    @include mq('tablet') {
        display: none;
    }
}

.ms-c-toggle-menu {
    position: absolute;
    top: 16px;
    left: 1rem;
    z-index: 1000;
    @include mq('tablet') {
        display: none;
    }
    span {
        &:after {
            content: "";
            @include svg-background-image-fallback('ms-a-icon--menu-toggle-open', 45px, 32px);
        }
        cursor: pointer;
    }
}

.ms-js-toggle-is-active {
    span {
        &:after {
            content: "";
            @include svg-background-image-fallback('ms-a-icon--menu-toggle-close', 32px, 32px);
        }
        cursor: pointer;
    }
}



// SLIDER


.ms-c-header-slider {
    position: relative;
    @include mq('tablet') {
        margin-bottom: 2rem;
    }
}

.ms-c-header-slider__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 94vh;
    &:after {
        content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to top, $black,rgba($black,0));
    	opacity: .3;
        z-index: 1
     }
}

.ms-c-header-slider__item--content {
    text-align: center;
    max-width: 880px;
    margin: 0 auto 8%;
    z-index: 10;
    @include mq('tablet') {
        margin: 0 auto 50px;
    }
    @include mq('desktop') {
        margin: 0 auto 70px;
    }
}


.ms-c-owl-dots {
    position: absolute;
    bottom: 0;
    z-index: 20;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: none;

    @include mq('tablet-wide') {
        display: block;
    }

    li {
        display: inline-block;
        margin: 1rem .2rem;
        span {
            cursor: pointer;
            display: block;
            width: 20px;
            height: 20px;
            border: 3px solid $banana;
            border-radius: 100%;
        }
        &.active span {
            background: $banana
        }
    }
}
