
// https://trendland.com/futuristic-xyz-lounge-bar-ghent-1/
// https://www.joomshaper.com/forums/hide-the-top-menu-on-scroll-down-and-show-up-when-scroll-up

nav {
    width: 100%;
    visibility: hidden;
    transform: translateY(-200%);
    opacity: 0;
    padding: 5rem 0 0;
    @include transition(.2s);

    @include mq('tablet') {
        padding: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .ms-js-header-is-active & {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @include mq('tablet') {
        text-align: center;
    }

    ul {
        vertical-align: top;
        padding: 0;
        margin: 0;
        text-align: center;
        @include mq('tablet') {
            padding: 1rem 0 0;
            display: inline-block;

            &:first-of-type {
                margin-left: -50px;
            }
        }
    }
    li {
        vertical-align: top;
        list-style: none;
        color: $white;
        text-transform: lowercase;
        font-size: 2rem;
        letter-spacing: .06rem;

        @include mq('tablet') {
            font-size: 1rem;
            margin: 0 .8rem;
            display: inline-block;
        }
        @include mq('tablet-wide') {
            margin: 0 2rem;
        }
        a {
            color: $white;
            @include mq('tablet') {
                body.single-product &, body.single-recept &, body.single-post & {
                    color: $grey-dark;
                }
            }
            header.ms-is-fixed & {
                color: $white;
                body.single-product &, body.single-recept &, body.single-post & {
                    color: $white;
                }
            }
        }
        &:hover, &.current-menu-item {
            a {
                color: $terracotta !important;
            }
        }
    }
}
