.ms-c-product-loop-item__title {

}

.ms-c-products {
    padding-top: 4rem;
    min-height: 420px;
    @include mq('tablet') {
        min-height: 600px;
    }
}

.ms-c-recipes {
    @include mq('tablet') {
        margin-top: -2rem;
    }
}

@for $i from 1 through 40 {
    .ms-c-product-loop-item--#{$i} {
        opacity: 0;
        @include transition(.2s);
        animation:  ms_fadein 1s ease-out forwards;
        animation-delay: $i * 0.15s;
    }
}

@keyframes ms_fadein {
    0% { opacity: 0; }
    100%  { opacity: 1; }
}

span.ms-c-product-loop-item__title {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    @include mq('tablet') {
        font-size: 2.5rem;
    }
    color: $white;
    margin-left: 10px;
    width: 100%;
    font-weight: 700;
    opacity: 0;
    @include transition(.2s);
    .ms-c-products-carousel & {
        opacity: 0;
    }
}

.ms-c-products-carousel .ms-c-carousel-item  {
    &:hover {
        span.ms-c-product-loop-item__title {
            opacity: 1;
        }
    }
}

.ms-c-product-loop-item {

    .ms-c-carousel-item {
        min-height: 160px;
        min-width: 160px;
        height: 160px;
        width: 160px;
        margin: 0 auto 1.5rem;
        cursor: pointer;
        &:hover {
            img {
                opacity: 0.5;
            }
            span.ms-c-product-loop-item__title {
                opacity: 1;
            }
        }
        img {
            max-width: 150px;
            margin: 0 auto;
            margin-left: -40px;
            @include transition(.2s);
        }



        @include mq('tablet') {
            min-height: 260px;
            min-width: 260px;
            height: 300px;
            width: 300px;
            margin-bottom: 3rem;
            img {
                max-width: 200px;
                margin: 0 auto;
            }
        }
        // @include mq('tablet-wide') {
        //     margin-bottom: 2rem;
        // }
        @include mq('desktop') {
            min-height: 330px;
            min-width: 330px;
            margin-bottom: 2.75rem;
            img {
                max-width: 250px;
            }
        }
         @include mq('desktop-wide') {
             min-height: 390px;
             min-width: 390px;
             margin-bottom: 2.5rem;
         }
         @include mq('desktop-1600') {
             min-height: 390px;
             min-width: 390px;
         }
    }
}

.ms-c-product__loader {
    position: absolute;
    left: 50%;
    z-index: -1;
    margin-left: -30px;
    margin-top: 10px;
    @include mq('tablet') {
        margin-top: 100px;
    }
    opacity: 0;
    @include transition(.2s);

    &.ms-js-is-active {
        opacity: 1;
        z-index: 100;
    }

    svg {
        @include mq('tablet') {
            transform: scale(1);
        }

        path {
            opacity: 0;
        }
    }
}
