.ms-c-slider-container {
    padding-bottom: 1rem;
}


.ms-c-carousel-item {
    padding: 4rem;
    padding-left: calc(4rem - 20px);
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;

   @include mq('desktop') {
       min-height: 300px;
       min-width: 300px;
   }
    @include mq('desktop-wide') {
        min-height: 320px;
        min-width: 320px;
    }
    @include mq('desktop-1600') {
        min-height: 350px;
        min-width: 350px;
    }
    img {
        max-width: 220px;
        margin: 0 auto;
    }
}


.ms-c-products-carousel {
    padding: 2rem 0 3rem;
    @include mq('tablet') {
        padding-bottom: 4rem;
    }
    @include mq('desktop') {
        padding-bottom: 5rem;
    }
}

.ms-c-max-width {
    .row {
        max-width: 360px;
        margin: 0 auto;
        @include mq('tablet') {
            max-width: none;
        }
    }
}

.ms-c-toggle-product-filter {
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: 80px;
    cursor: pointer;

    @include mq('tablet') {
        display: none;
    }

    &:after {
        @include transition(.2s);
        content: "";
        $width: 24px;
        $height: 24px;
        @include svg-background-image-fallback('ms-a-icon--arrow-down', $width, $height);
        display: block;
    }

    &.ms-js-is-active {
        &:after {
            transform: rotate(180deg);
        }
    }
}

.ms-c-product-slider-menu {

    font-family: $rift;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;

    body.page-template-template-producten &,  body.page-template-template-recepten & {
        margin-bottom: 2rem;

        ul {
            z-index: 20;
            overflow: hidden;
            height: auto;
            max-height: 40px;
            @include transition(.2s);
            margin-top: -2rem;
            width: 100%;
            max-width: 320px;
            margin: -2rem auto 0;
            padding: 0;
            text-align: center;

            &.ms-c-is-active {
                max-height: 3000px;
                li {
                    display: block;
                }
            }

            li {
                margin: 0;
                padding: 0;
                display: none;
                &.ms-js-is-active {
                    display: block;
                }
            }

            @include mq('tablet') {

                display: flex;
                justify-content: space-around;
                margin-top: 0;
                max-width: none;

                li {
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }

    a {
        color: rgba($grey-dark, 0.2);
    }

    ul {
        li {
            display: inline-block;
            @include mq('tablet') {
                margin: 1rem 1.1rem;
            }
            @include mq('desktop') {
                margin: 1rem 2rem;
            }
            @include mq('desktop-wide') {
                margin: 1rem 3rem;
            }
            position: relative;

            span {
                font-family: $adelle;
                font-weight: 300;
                text-transform: none;
                font-size: 14px;
                line-height: 1.5;
                position: absolute;
                width: 150px;
                top: 48px;
                left: 50%;
                margin-left: -75px;
                color: $grey-dark;
                opacity: 0;
                @include transition(.2s);
            }

            &:hover, &.ms-js-is-active {
                a {
                    color: $grey-dark;
                }
                span {
                    opacity: 1;
                }
            }

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}
