
.ms-c-product-content {
    @include mq('tablet') {
        padding-left: 2.5rem;
    }
}

.ms-c-product-image-background-container {
    padding: 0;
    margin-bottom: 2rem;
    @include mq('tablet') {
        padding: 0 15px;
    }
}

.ms-c-product-image-background {
    width: 100%;
    min-height: 320px;

    @include mq('tablet') {
        width: 380px;
        height: 380px;
        margin: 0 auto;
    }

    @include mq('desktop') {
        margin: 0;
        width: 550px;
        height: 550px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        margin-left: -3%;
        max-width: 260px;
        @include mq('tablet') {
            max-width: 260px;
        }
        @include mq('desktop') {
            max-width: 425px;
        }
    }
}

span.ms-c-volume {
    display: block;
    font-family: $rift;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2rem;
}

span.ms-c-bio {
    font-family: $rift;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    color: $grey-dark;
    display: block;
    margin-top: 2rem;

    &:before {
        content: "";
        $width: 41px;
        $height: 33px;
        @include svg-background-image-fallback('../images/ms-a-icon--bio', $width, $height);
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
    }
}

.ms-u-product-info {

    [class^="col-"] {
        margin-bottom: 2rem;
    }
    margin-bottom: 2rem;

    @include mq('tablet') {
        padding: 3rem 4rem !important;
        margin: 0 auto 3rem;
        max-width: 1110px !important;
    }

    @include mq('desktop-wide') {
        max-width: 1240px !important;

        body.single-recept & {
            max-width: 1184px !important;
        }
    }

    h4 {
        margin-bottom: 1.75rem;
    }

    .ms-c-allergy__container {
        @include mq('tablet') {
            position: absolute;
            bottom: 0;
        }
    }

    table {
        width: 100%;
        max-width: 450px;

        font-size: 14px;
        color: $grey-dark;

        td {
            padding: .5rem 1rem;
        }
        tr {
            &:nth-child(2n - 1) {
                background: $white;
            }
        }
    }
}

.ms-c-recipe__page {
    padding: 0;
    margin-bottom: 2rem;
    max-height: 300px;
    overflow: hidden;
    @include mq('tablet') {
        max-height: none;
        overflow: visible;
    }
    img {
        @include mq('tablet') {
            max-width: 340px;
        }
        @include mq('desktop') {
            max-width: 550px;
        }
    }
}
